/* Importation de la police Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif; 
  font-weight: 400; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; 
}


nav a {
  text-transform: uppercase; 
  text-decoration: none;
}

/* Force le footer en bas de page */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Style pour les icônes de réseaux sociaux (effet au survol) */
footer a:hover {
  color: #007bff !important; /* Bleu Bootstrap au survol */
  transition: 0.3s;
}